.message{
    background: white;
    box-shadow: 0 0 10px -5px black;
    padding: 20px;
    border-radius: 7.5px;
    font-weight: bold;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    display: inline-block;
    user-select: none;
}